@page
@model Lab5.Pages.Predictions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Prediction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" class="form" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Prediction.Question" class="control-label">Select a question:</label>
                <select asp-for="Prediction.Question" class="form-control">
                    <option value="earth">What Earth will look like in 20 years?</option>
                    <option value="computer">What Computers will look like in 20 years?</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Upload an image:</label>
                <input name="file" type="file" class="form-control"/>
            </div>

            <div class="form-group">
                <input name="file" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
